@import "variables.scss";

body {
  background-color: $primary-color;
}

.header {
  @include headers;
  text-align: center;
  font-size: 5rem;
}

.input-text {
  @include headers;
  font-size: 3rem;
}

.input-box {
  font-family: $primary-font;
  font-size: 2rem;
  background-color: $secondary-color;
}

.input-text,
.input-box {
  text-align: center;
}
