@import "variables.scss";

button * {
  pointer-events: none;
}

body {
  background-color: $primary-color;
}

.header {
  @include headers;
  text-align: center;
  font-size: 5rem;
}

.search-header {
  @include headers;
  font-size: 3rem;
  text-align: center;
}

#search-area {
  font-family: $primary-font;
  font-size: 1.5rem;
  background-color: $secondary-color;
  width: 60%;
  height: 2.2rem;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.card-container {
  padding: 3rem 2rem;
  background-color: $secondary-color;
  border-radius: 4rem;
  margin: 2rem;
}

.card-header {
  @include headers;
  font-size: 3rem;
}

.city-name {
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
}

.time {
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 2rem;
}

.view-time {
  color: $primary-color;
  font-family: $text-font;
  font-size: 1.2rem;
}
