$primary-color: #22559c;
$secondary-color: #f3f0e0;
$tertiary-color: #0000;

$primary-font: "Fira Sans";

$secondary-font: "Hind Madurai";
$text-font: "Khula";

@mixin headers {
  font-family: $primary-font;
  color: $secondary-color;
}
